<mat-toolbar class="nav-container">
  <div>Space X Demo</div>

  <div>
    @switch (currentPage) { @case ('/login') {
    <div>
      <a mat-raised-button href="/register">register</a>
    </div>
    } @case ('/register') {
    <div>
      <a mat-raised-button href="/login">login</a>
    </div>
    } @case ('/home') {
    <div>
      <a mat-raised-button class="logout-button" (click)="logout()">Logout</a>
    </div>
    } @default {
    <div>
      <a href="/login">Login</a>
    </div>
    } }
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
