<div class="button-container">
  <button class="view-button" (click)="selectType('all')">All</button>
  <button class="view-button" (click)="selectType('latest')">Latest</button>
  <button class="view-button" (click)="selectType('upcoming')">Upcoming</button>
  <button class="view-button" (click)="selectType('past')">Past</button>
</div>

@if (selectedType() === "all" || selectedType() === "latest") {
<div class="launches-container">
  <h2>Latest</h2>
  @if (isLoading) {
  <div class="launch-grid-latest">
    <div class="launch-card-latest">
      <ngx-skeleton-loader
        [count]="1"
        [appearance]="'custom-content'"
        [animation]="'progress'"
        [theme]="{ height: '200px', width: '100%' }"
      ></ngx-skeleton-loader>
      <div class="launch-details">
        <ngx-skeleton-loader
          [count]="3"
          [appearance]="'line'"
          [animation]="'progress'"
          [theme]="{ height: '20px', width: '100%' }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  } @if (latestLaunches) {
  <div class="launch-grid-latest">
    <div class="launch-card-latest">
      <img
        [src]="
          latestLaunches.links.patch.large || latestLaunches.links.patch.small
        "
        [alt]="latestLaunches.name"
        [height]="200"
        loading="lazy"
        class="launch-image"
      />
      <div class="launch-details">
        <h3>{{ latestLaunches.name + " " + "Mission" }}</h3>
        <p class="launch-date">{{ latestLaunches.date_utc || "" }}</p>
        <button (click)="viewLaunch(latestLaunches)" class="view-button">
          More Info
        </button>
      </div>
    </div>
  </div>
  }
</div>
} @if (selectedType() === "all" || selectedType() === "upcoming") {
<div class="launches-container">
  <h2>Upcoming</h2>

  <div class="launch-grid">
    @if (isLoading) { @for (e of repeatArray; track $index) {
    <div class="launch-card">
      <ngx-skeleton-loader
        [count]="1"
        [appearance]="'custom-content'"
        [animation]="'progress'"
        [theme]="{ height: '200px', width: '100%' }"
      ></ngx-skeleton-loader>
      <div class="launch-details">
        <ngx-skeleton-loader
          [count]="3"
          [appearance]="'line'"
          [animation]="'progress'"
          [theme]="{ height: '20px', width: '100%' }"
        ></ngx-skeleton-loader>
      </div>
    </div>
    } } @for (launch of upcomingLaunches; track $index) {
    <div class="launch-card">
      <img
        [src]="launch.links.patch.large || defaultImage"
        [alt]="launch.name"
        [height]="200"
        loading="lazy"
        class="launch-image"
      />
      <div class="launch-details">
        <h3>{{ launch.name + " " + "Mission" }}</h3>
        <p class="launch-date">{{ launch.date_utc || "" }}</p>
        <button (click)="viewLaunch(launch)" class="view-button">
          More Info
        </button>
      </div>
    </div>
    }
  </div>
</div>
} @if (selectedType() === "all" || selectedType() === "past") {
<div class="launches-container">
  <h2>Past</h2>
  <div class="launch-grid">
    @if (isLoading) { @for (e of repeatArray; track $index) {
    <div class="launch-card">
      <ngx-skeleton-loader
        [count]="1"
        [appearance]="'custom-content'"
        [animation]="'progress'"
        [theme]="{ height: '200px', width: '100%' }"
      ></ngx-skeleton-loader>
      <div class="launch-details">
        <ngx-skeleton-loader
          [count]="3"
          [appearance]="'line'"
          [animation]="'progress'"
          [theme]="{ height: '20px', width: '100%' }"
        ></ngx-skeleton-loader>
      </div>
    </div>
    } } @for (launch of pastLaunches; track $index) {
    <div class="launch-card">
      <img
        [src]="launch.links.patch.large || defaultImage"
        [alt]="launch.name"
        [height]="200"
        loading="lazy"
        class="launch-image"
      />
      <div class="launch-details">
        <h3>{{ launch.name + " " + "Mission" }}</h3>
        <p class="launch-date">{{ launch.date_utc || "" }}</p>
        <button (click)="viewLaunch(launch)" class="view-button">
          More Info
        </button>
      </div>
    </div>
    }
  </div>
</div>
}
